@charset "utf-8";

$scheme-main: #f7f8f2;
$dark: #251819;
$text: $dark;
$text-strong: #0c0808;
$primary: #3f7d20;
$link: #d03c25;

$card-background-color: #fbfbf8;
$card-content-padding: 0.75rem;

@import "../node_modules/bulma/sass/utilities/_all.sass";
@import "../node_modules/bulma/sass/base/_all.sass";
@import "../node_modules/bulma/sass/helpers/_all.sass";
@import "../node_modules/bulma/sass/elements/button.sass";
@import "../node_modules/bulma/sass/elements/container.sass";
@import "../node_modules/bulma/sass/elements/title.sass";
@import "../node_modules/bulma/sass/elements/content.sass";
@import "../node_modules/bulma/sass/elements/tag.sass";
@import "../node_modules/bulma/sass/components/navbar.sass";
@import "../node_modules/bulma/sass/components/card.sass";
@import "../node_modules/bulma/sass/grid/columns.sass";

@import "./overrides.scss";
